{* Latte template *}

{block content}

<div id="add">
    <h2><a id="add-perfomrnace" href="#">Add performance</a></h2>
    {control newPerformance}

    <h2><a id="add-film" href="#">Add film</a></h2>
    {control newFilm}

    <h2><a id="add-cinema" href="#">Add cinema</a></h2>
    {control newCinema}
</div>